<div *ngIf="smartphones" class="smartphone-list-item">
  <mat-card class="smart-phone">
    <mat-card-header>
      <mat-card-title>SmartPhone List</mat-card-title>
    </mat-card-header>
  <p><strong>Id: </strong>{{smartphones.id}}</p>
  <p><strong>Serial Number: </strong>{{smartphones.serialNumber}}</p>
  <p><strong>Brand: </strong>{{smartphones.brand}}</p>
  <p><strong>Storage: </strong>{{smartphones.storage}} GB</p>
  <p><strong>Release Date: </strong>{{smartphones.releaseDate}}</p>
  <p><strong>Price: </strong>{{smartphones.price}}</p>
  <p><strong>Available: </strong>{{smartphones.isAvailable ? 'Yes' : 'No'}}</p>
  </mat-card>
</div>
<!-- Error Display -->
<div *ngIf="error" mat-card class="error-card">
  <mat-card-content>{{ error }}</mat-card-content>
</div>
